<div class="product-ticket-entries entry-bonus" style="float:unset;">
  {% assign multiplier = 5 %}

  {% if card_product.metafields.entries_multiplier.value != blank %}
    {% assign multiplier = card_product.metafields.entries_multiplier.value | plus: 0 %}
  {% endif %}

  {% assign product_price_dollars = card_product.selected_or_first_available_variant.price | divided_by: 100 %}
  {% assign entries = product_price_dollars | times: multiplier | round %}

  <span class="entries">
    <span class="product-item-icon">🎟</span>
    <span class="entries_cl">{{ entries }} Entries</span>
  </span>
</div>
