<div class="product-ticket-entries entry-bonus" style="float:unset;">
  {% assign multiplier = 5 %}

  {% if card_product.metafields.product.entries_multiplier and card_product.metafields.product.entries_multiplier.value %}
    {% assign multiplier = card_product.metafields.product.entries_multiplier.value %}
  {% endif %}

  {% assign entries = card_product.price | divided_by: 100 | times: multiplier %}

  <span class="entries">
    <span class="entries_cl">{{ entries }} Entries</span>
  </span>
</div>
