<div class="product-ticket-entries" style="float:unset;">
    {% assign multiplier = 5 %}

    {% if ard_product.metafields.product.entries_multiplier != blank %}
        {% assign multiplier = card_product.metafields.product.entries_multiplier %}
    {% endif %}

    {% assign entries = card_product.price | divided_by: 100 | times: multiplier %}

    <span class="entries">
        <span class="product-item-icon" style="">🎟</span>
        <span class="entries_cl">{{ entries }} Entries</span>
    </span>
</div>