<div class="product-ticket-entries" style="float:unset;">
    {% comment %} Set specific entry values for giveaway products {% endcomment %}
    {% assign entries = 0 %}
    {% assign multiplier = 0 %}
    
      {% if card_product.metafields.product.entries_multiplier.value != blank %}
        {% assign multiplier = card_product.metafields.product.entries_multiplier.value %}
      {% endif %}
      {% assign entries = card_product.price | divided_by: 100 | times: multiplier %}

    <span class="entries entry-bonus">
        <span class="product-item-icon" style="">🎟</span>
        <span class="entries_cl">{{ entries }} Entries</span>
    </span>
</div>